@model SimpleIdServer.UserManagement.ViewModels.EditCredentialViewModel

@{
    ViewBag.IsEditDisplayed = true;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    ViewBag.IsProfileDisplayed = false;
}

<div class="tab-pane active" id="information">
    <div>
        @if(Model.Links == null)
        {
    
        }
        else
        {
            foreach(var link in Model.Links)
            {
                <div style="padding-top: 10px">
                    <a href="@Url.Action(link.Href.ActionName, link.Href.ControllerName, new { area = link.Href.Area })" class="btn btn-default">@link.DisplayName</a>
                </div>
            }
        }
    </div>
</div>