@{
    ViewBag.Title = "My resources";
}

<h4>My Resources</h4>

<div>
    <table id="my-resources" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Uri</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" role="dialog" id="share-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Share the resource</h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <div>
                    <label>Select the permissions</label>
                    <input type="text" id="shared-permissions" />
                </div>
                <input type="hidden" name="resource-id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Share</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="permissions-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit the permissions </h4>
            </div>
            <div class="modal-body">
                <div class="messages"></div>
                <div class="perms"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var datatable = $("#my-resources").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                ajax: {
                    url: "@Url.Action("GetMyResources", "Resources")",
                    data: function (d) {
                            return JSON.stringify(d);
                        },
                    contentType: "application/json",
                    type: 'POST'
                },
                columns: [
                        { "name": "picture" },
                        { "name": "name" },
                        { "name": "type" },
                        { "name": "uri" }
                    ],
                columnDefs: [
                    {
                        targets: 0,
                        render: function (data) {
                            return "<img src='"+data+"' style='max-width: 50px' />";
                        }
                    },
                    {
                        targets: 4,
                        render: function () {
                            var shareBtn = "<button type='button' class='btn btn-default share'><span class='glyphicon glyphicon-share'></span> Share</button>";
                            var editBtn = "<button type='button' class='btn btn-default edit'><span class='glyphicon glyphicon-edit'></span> Permissions</button>";
                            return shareBtn + editBtn;
                        }
                    }
                ]
            });

            datatable.on('click', '.share', function () {
                    var data = datatable.row($(this).parents('tr')).data();
                    var scopes = data[4];
                    var resourceId = data[5];
                    var joinedScopes = scopes.join(',');
                    $("#share-modal").find("#shared-permissions").val(joinedScopes);
                    $("#share-modal").find("input[name='resource-id']").val(resourceId);
                    $("#share-modal").find(".messages").html("");
                    $("#share-modal").find("#shared-permissions").selectize({
                        delimiter: ',',
                        persist: false,
                        create: false
                    });
                    $("#share-modal").modal();
                });
            datatable.on('click', '.edit', function () {
                    var data = datatable.row($(this).parents('tr')).data();
                    var resourceId = data[5];
                    var policies = data[6];
                    var policyHtml = "";
                    var index = 1;
                    if (policies && policies.length > 0) {
                        policies.forEach(function (policy) {
                            var rulesHtml = "";
                            if (policy.rules && policy.rules.length > 0) {
                                policy.rules.forEach(function (rule) {
                                    rulesHtml += "<div><label>Scopes : <b>"+rule.scopes.join(',')+"</b></label><div class='row'>" +
                                        "<div class='col-md-10'><input type='text' class='rule' data-ruleid='" + rule.rule_id + "' value='" + rule.permissions.join(',') + "' /></div>" +
                                        "<div class='col-md-2'><button class='btn btn-default remove'>Remove</button></div>" +
                                    "</div></div> ";
                                });
                            }

                            policyHtml += "<div class='policy' data-policyid='" + policy.policy_id + "'>" +
                                rulesHtml +
                                "</div>";
                            index++;
                        });
                    }

                    if (policyHtml === "") {
                        policyHtml = "There is no authorization policy";
                    }

                    var html = "<div class='resource' data-resourceid='" + resourceId +"'>"+ policyHtml +"</div>";
                    $("#permissions-modal").find('.perms').html(html);
                    $("#permissions-modal").find(".remove").click(function () {
                        $(this).closest(".row").remove();
                    });
                    $("#permissions-modal").find(".messages").html("");
                    $("#permissions-modal").find("input[type='text']").selectize({
                        delimiter: ',',
                        persist: false,
                        create: false,
                        plugins: {
                            'no-delete': {}
                        }
                    });
                    $("#permissions-modal").modal();
                });

            $("#share-modal").find(".save").click(function () {
                var permissions = $("#share-modal").find("#shared-permissions").val().split(',');
                var resourceId = $("#share-modal").find("input[name='resource-id']").val();
                var request = {
                    scopes: permissions,
                    id: resourceId
                };
                $.ajax({
                    url: "@Url.Action("GenerateSharedLink", "Resources")",
                    method: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(request)
                }).then(function (r) {
                    $("#share-modal").find(".messages").html("<div class='alert alert-success fade in alert-dismissible'>" +
                        "<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>×</a> The shared link is : <b>" + r.url + "</b>" +
                        "</div > ");
                }).fail(function (e) {
                    $("#share-modal").find(".messages").html("<div class='alert alert-danger fade in alert-dismissible'>" +
                        "<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>×</a>" + e.responseJSON.error_description +"</b>" +
                        "</div > ");
                });
            });
            $("#permissions-modal").find(".save").click(function () {
                var resourceId = $("#permissions-modal").find(".resource").data("resourceid");
                var policyElts = $("#permissions-modal").find(".policy");
                var request = {
                    id: resourceId,
                    policies: []
                };
                policyElts.each(function () {
                    var policyId = $(this).data("policyid");
                    var ruleElts = $(this).find("input.rule");
                    var rules = [];
                    ruleElts.each(function () {
                        var ruleId = $(this).data('ruleid');
                        if (!ruleId) {
                            return;
                        }

                        rules.push(ruleId);
                    });

                    if (rules.length > 0) {
                        request.policies.push({
                            policy_id: policyId,
                            rules: rules
                        });
                    }
                });

                $.ajax({
                    url: "@Url.Action("Update", "Resources")",
                    method: 'PUT',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(request)
                }).then(function (r) {
                    datatable.ajax.reload();
                    $("#permissions-modal").find(".messages").html("<div class='alert alert-success fade in alert-dismissible'>" +
                        "<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>×</a> The permissions are updated</b>" +
                        "</div > ");
                }).fail(function (e) {
                    $("#permissions-modal").find(".messages").html("<div class='alert alert-danger fade in alert-dismissible'>" +
                        "<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>×</a>" + e.responseJSON.error_description +"</b>" +
                        "</div > ");
                });
                console.log(request);
            });
        });
    </script>
}