@model SimpleIdServer.UserManagement.ViewModels.EditCredentialViewModel

@{
    ViewBag.IsEditDisplayed = true;
    ViewBag.IsConsentDisplayed = false;
    ViewBag.IsIndexDisplayed = false;
    ViewBag.IsProfileDisplayed = false;
}

<div class="tab-pane active" id="information">
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@ViewBag.Translations["edit_credentials_link"]</div>
                <div class="panel-body">
                    @if (Model.Links == null || !Model.Links.Any())
                    {

                    }
                    else
                    {
                        <ul class="list-group">
                            @foreach (var link in Model.Links)
                            {
                                <li class="list-group-item">
                                    <a href="@Url.Action(link.Href.ActionName, link.Href.ControllerName, new { area = link.Href.Area })" class="btn btn-default">@link.DisplayName</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>